UAsp.Redis/RedisClientSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:UAsp.Redis" elementFormDefault="qualified" targetNamespace="urn:UAsp.Redis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="redisSection" type="tns:UAsp.Redis.RedisSectionCT" />
	<xs:complexType name="UAsp.Redis.RedisSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="write" type="tns:UAsp.Redis.ItemCollectionCT">
				<xs:annotation>
					<xs:documentation>The Write.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="read" type="tns:UAsp.Redis.ItemCollectionCT">
				<xs:annotation>
					<xs:documentation>The Read.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="db" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Db.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cluster" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Cluster.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="UAsp.Redis.ItemCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:UAsp.Redis.ItemCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:UAsp.Redis.ItemCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:UAsp.Redis.HostCT">
				<xs:annotation>
					<xs:documentation>The Host Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
